services:
  api:
    image: task-management-api
    container_name: taskmanager-api-dev
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
